<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Repositorio de Ideias</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="images/logo/repositorio-ideias-logo.png"
                    alt="Logo Repositorio de Ideias" style="width: 100px; height: 100px;"></a>
                <button class="navbar-toggler border-1" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navCollapse" aria-controls="navCollapse" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end" id="navCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="/Index">Home</a>
                        </li>
                        <li><a class="nav-link" asp-page="/About">About</a></li>
                        <li><a class="nav-link" asp-page="/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main class=" body-content">
        @RenderBody()
    </main>
    <hr />
    <footer>
        <p>&copy; 2021 - RepositorioIdeias - Developed by - Silvio Antônio</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
