:root{
    --main-font-size: 1rem;
}

html,body {
    height: 100%;
    font-size: var(--main-font-size);
}

img {
    border-radius: 2rem;
}

.gradient{
    background: rgb(57,224,0);
    background: 
    linear-gradient(
        90deg, rgba(57,224,0,1) 0%, 
    rgba(65,94,255,1) 38%, 
    rgba(0,212,255,1) 100%
    );
}

